.list {
  display: grid;
  gap: 17px;
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: flex;
    align-items: center;
    gap: 14px;
  }
}

.number {
  display: grid;
  width: 32px;
  height: 32px;
  place-items: center;
  color: var(--color-white);
  background: var(--color-primary-light);
  border-radius: 10px;
  letter-spacing: 0.5px;
}
