:root {
  --color-primary: #168bd6;
  --color-primary-light: #30afe9;
  --color-primary-soft: #deeff9;
  --color-text: #17223b;
  --color-muted: #758097;
  --color-background: #edf2f7;
  --color-white: #ffffff;
  --color-border: #dce3eb;
  --color-success: #4dcf82;
  --color-danger: #ac3146;
  --color-danger-soft: #f8eff0;
}
